---
import "../styles/global.css";
---

<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Arte</title>
	</head>
	<body class="">
		<div id="content" class="bg-yellow-500 grid grid-cols-[1fr_2fr]">

            <div id="menu" class="flex flex-col gap-4 self-end mb-[6vh]">
                
                <a href=""><h1 class="px-2 font-barlow-thin center text-5xl">ulysses alves</h1></a>
                <ul class="font-barlow-light text-xl flex flex-4 flex-col">
                    <li class="px-3 py-1"><a href="/">Home</a></li>
                    <li class="px-3 py-1"><a href="/arte">Arte</a></li>
                    <li class="px-3 py-1"><a href="/dev">Projetos Dev</a></li>
                    <li class="px-3 py-1"><a href="/extra">Extra</a></li>
                </ul>	
            </div>

            <div id="content-grid" class="grid bg-white w-[80vw] h-[100vh]">
                <div id="welcome" class="bg-black">
                    
                </div>
            </div>
        </div>
	</body>
</html>