---
import "../styles/global.css";
---

<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Extra</title>
	</head>
	<body class="font-bigshoulders-regular">

            <div id="content" class="bg-yellow-500 grid grid-cols-[1fr_2fr]">

                <div id="menu" class="font-bigshoulders-semibold flex flex-col gap-4 self-end mb-[6vh]">
                    
                    <a href=""><h1 class="px-2 center text-5xl">ulysses alves</h1></a>
                    <ul class=" text-xl flex flex-4 flex-col">
                        <li class="px-3 py-1"><a href="/">Home</a></li>
                        <li class="px-3 py-1"><a href="/arte">Arte</a></li>
                        <li class="px-3 py-1"><a href="/dev">Projetos Dev</a></li>
                        <li class="px-3 py-1"><a href="/extra">Extra</a></li>
                    </ul>	
                </div>
    
                <div id="content-grid" class="grid bg-white w-[80vw] h-[100vh]">
                    <div id="welcome" class="bg-black">
                        <p class="text-white ">Um lugar para meus outros interesses e pensamentos.</p>
                        <ul class=" text-white text-xl flex flex-2">
                            <li class="px-3 py-1"><a href="">Reviews</a></li>
                            <li class="px-3 py-1"><a href="">Pensamentos</a></li>
                        </ul>	
                    </div>
                    <div>
                        <p>As semelhanças entre meus filmes e livros favoritos</p>
                    </div>
                </div>
            </div>
	</body>
</html>