---
import "../styles/global.css";
---

<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Extra</title>
	</head>
	<body class="font-bigshoulders-regular">
            <div id="layout" class="w-[55vw] h-[100vh] mx-auto">
                <div id="menu" class="pt-8">
                    <div class="flex flex-row justify-between items-end">
                        <a href="/"><h1 class="px-3 py-1 text-5xl">ulysses alves</h1></a>
                        <ul class="text-xl flex flex-row">
                            <li class="px-3 py-1"><a href="/">Home</a></li>
                            <li class="px-3 py-1"><a href="/arte">Arte</a></li>
                            <li class="px-3 py-1"><a href="/extra">Blog</a></li>
                            <li class="px-3 py-1"><a href="/contato">Contato</a></li>
                        </ul>	
                    </div>
                    <hr>
                </div>
                <div id="main-content" class="">
                    <div id="project-1" class="mt-8 mb-8">
                        <div id="text" class="mt-8 mb-8">
                            <h1 class="text-2xl font-bigshoulders-semibold mb-2">Title</h1>
                            <p class="text-lg">03/29/2036</p>
                            <p class="text-lg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fuga? Reiciendis deserunt voluptas eveniet a pariatur, dolorum cupiditate et vel mollitia enim, dignissimos perferendis harum. Facere vitae nulla minima blanditiis delectus reprehenderit sint quaerat, numquam autem!
                            </p>
                        </div>
                    </div>
                    <div id="project-2" class="mt-8 mb-8">
                        <div id="text" class="mt-8 mb-8">
                            <h1 class="text-2xl font-bigshoulders-semibold mb-2">Title</h1>
                            <p class="text-lg">03/29/2036</p>
                            <p class="text-lg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, earum! Sint laudantium in quibusdam beatae illo necessitatibus quod dolores, debitis aut accusamus molestiae doloribus! Delectus laudantium eaque nihil minus deserunt, consequuntur ratione, exercitationem vitae inventore iusto voluptas repudiandae? Voluptas placeat itaque deleniti pariatur alias! Vel iste iusto quasi accusamus architecto. </p>
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <hr>
                    <div id="social-media" class="">
                        <ul class="flex flex-row justify-end">
                            <li class="px-3 py-1"><a href="">Instagram</a></li>
                            <li class="px-3 py-1"><a href="">Youtube</a></li>
                            <li class="px-3 py-1"><a href="">Music</a></li>
                        </ul>
                    </div>
                </div>
            </div>
	</body>
</html>