---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
	</head>
	<body class="font-bigshoulders-regular">
		<div id="layout" class="w-[55vw] h-[100vh] mx-auto">
			<div id="menu" class="pt-8">
				<div class="flex flex-row justify-between items-end">
					<a href="/"><h1 class="px-3 py-1 text-5xl">ulysses alves</h1></a>
					<ul class="text-xl flex flex-row">
						<li class="px-3 py-1"><a href="/">Home</a></li>
						<li class="px-3 py-1"><a href="/arte">Arte</a></li>
						<li class="px-3 py-1"><a class="line-through" href="/">Blog</a></li>
						<li class="px-3 py-1"><a href="/contato">Contato</a></li>
					</ul>	
				</div>
				<hr>
			</div>
			<div id="main-content" class="">
				<div id="project-1" class="mt-8 mb-8">
					<div id="text" class="mt-8 mb-8">
						<h1 class="text-2xl font-bigshoulders-semibold mb-2">TypingDojo</h1>
						<p class="text-lg">Um aplicativo que criei para aprender a digitar mais rapidamente usando um teclado japonês de 12 teclas.</p>
					</div>
					<img class="m-auto h-[30vw] object-fit border-4 border-slate-900 hover:scale-150" src="/public/imgs/project-imgs/typing-dojo.jpg" alt="">
				</div>
				<div id="project-2" class="mt-8 mb-8">
					<div id="text" class="mt-8 mb-8">
						<h1 class="text-2xl font-bigshoulders-semibold mb-2">Paranagua Weather</h1>
						<p class="text-lg">Um site de previsão do tempo que criei para minha cidade natal, com o objetivo de aprender como obter dados de uma API.</p>
					</div>
					<img class="m-auto w-[40vw] object-fit border-4 border-slate-900 hover:scale-140" src="/public/imgs/project-imgs/paranagua-weather.jpg" alt="">
					<p class="text-xs m-auto w-[40vw]">Source: <a href="https://open-meteo.com/">Open-meteo API</a></p>
				</div>
			</div>
			<div id="footer">
				<hr>
				<div id="social-media" class="">
					<ul class="flex flex-row justify-end">
						<li class="px-3 py-1"><a href="">Instagram</a></li>
						<li class="px-3 py-1"><a href="">Youtube</a></li>
						<li class="px-3 py-1"><a href="">Music</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
